body {
    font-family: 'Open Sans';
    background: #666;
}
.home .container-fluid {
    padding: 0px;
}


header {
    background: url(/images/bgheader.png) no-repeat 100% 0;
    z-index: 100000;
}

header .logo {
    background: #09719c;
    height: 70px;
}
header .logo img {
    margin-top: 10px;
    margin-left: 10px;
}

header .social {
    /*background: #09719c;*/
    padding: 0;
}

header .social ul  {
    margin: 0;
    padding: 0;
    padding-left: 5px;
}

header .social ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
    width: 31%;
    height: 70px;
    text-align: center;
    margin-left: -5px;
}

header .social ul li.facebook {
    background: #054058;
}

header .social ul li.twitter {
    background: #076289;
}

header .social ul li.instagram {
    background: #0980b3;

}
header .social ul li a {
    color: #fff;
    font-size: 30px;
    line-height: 70px;
}
header .social ul li a:hover {
    text-decoration: none;
}

header .title {
    text-align: center;
}
header .title h2 {
    font-size: 16px;
    color: #fff;
    margin: 7px 0 0 0;
    padding: 0;
}

footer {
    background: #323235;
    padding: 3px 0;
    font-size: 11px;
    color: #fff;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 2000;
}

.loading {
    background: #fff;
    width: 100%;
    height: 516px;
    position: absolute;
    z-index: 1000;
    opacity: .6;
}
.loading img {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    margin-left: -90px;
    top: 150px;
}

.loading .loading { display: block; }
.loading { display: none; }

.home .video {
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
    z-index: 0;
}

.home .video video {
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}


.home .slide {
    position: absolute;
    left: -100%;
    width: 100%;
    height: 100%;
    /*background: blue;*/
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 1s forwards;
    /*animation-delay: 2s;*/
    z-index: 2000;
}

.home .bg-main {
    position: absolute;
    left: -100%;
    width: 100%;
    height: 100%;
    background: url(/images/bgmain.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    /*animation-delay: 2s;*/
    z-index: 1000;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}


.no-display {
    display: none !important;
}

header.main-menu {
    background: url(/images/bgheader2.png) no-repeat 100% 0;
    z-index: 2000;
    position: absolute;
    width: 100%;
}

.main-menu ul.menu {
    padding: 0;
    margin: 0;
}
.main-menu ul.menu li {
    list-style-type: none;
    margin: 0;
    width: 140px;
    text-align: center;
    padding: 5px 0 0 0;
    display: inline-block;
}
.main-menu ul.menu li a {
    text-transform: uppercase;
    color: #fff;
}
.main-menu ul.menu li.active a {
    color: #1cb1f3;
}
.main-menu ul.menu li.novedades a {
    color: #f00;
}




.lobby .bg-lobby {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: url(/images/pattern-lobby.jpg) repeat-x center center;
    z-index: 100;
}

.lobby .main-lobby {
    width: 100%;
    height: 100%;
    background: url(/images/bglobby.png) no-repeat center center;
    position: absolute;
}

.lobby .lobby-menu {
    width: 250px;
    margin: 0 auto;
    margin-top: 100px;
}

.lobby .lobby-menu-item {
    height: 32px;
    width: 250px;
    margin: 10px 0;
    overflow: hidden;
}
.lobby .lobby-menu-item.dir-left {
    background: url(/images/bgheader-back.png) no-repeat 0 0;
    text-align: right;
}
.lobby .lobby-menu-item.dir-right {
    background: url(/images/bgheader.png) no-repeat 100% 0;
}
.lobby .lobby-menu-item .arrow,
.lobby .lobby-menu-item a {
    display: inline-block;
}

.lobby .lobby-menu-item .arrow {
    background-color: #f1051b;
    width: 30px;
    height: 32px;
    color: #fff;
    padding-top: 5px;
    text-align: center;
}

.lobby .lobby-menu-item a {
    color: #fff;
    text-transform: uppercase;
}
.lobby .lobby-menu-item.dir-right a {
    margin-left: 15px;
}
.lobby .lobby-menu-item.dir-left a {
    margin-right: 15px;
}


.lobby .totem {
    width: 300px;
    position: absolute;
    right: 30px;
    top: 100px;
}
.lobby .totem .video {
    width: 300px;
    height: 215px;
    background: grey;
}
.lobby .totem .video iframe {
    width: 300px;
    height: 215px;
}

.lobby .totem .banner {
    width: 270px;
    height: 270px;
    background: #666;
    margin-left: 15px;
}

.lobby .login {
    background: url(/images/bgfakelogin.png) no-repeat 50% 50%;
    width: 154px;
    height: 54px;
    position: absolute;
    top: 200px;
    left: 10px;
}
.lobby .chat {
    background: url(/images/bgfakechat.png) no-repeat 50% 50%;
    width: 54px;
    height: 154px;
    position: absolute;
    top: 220px;
    left: 10px;
}



















.main-menu-mobile {
    display: none;
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    /* STYLES GO HERE */
    .main-menu {
        display: none;
    }
    .main-menu-mobile {
        display: block;
        position: absolute;
        width: 100%;
    }
    header.main-menu-mobile .logo {
        background: #09719c;
        height: 120px;
    }
    header.main-menu-mobile .logo img {
        margin-top: 20px;
        margin-left: 10px;
        width: 400px;
    }
    header.main-menu-mobile .burguer {
        background: #09719c;
        height: 120px;
        color: #fff;
        font-size: 30px;
        text-align: center;
        padding-top: 30px;
        cursor: pointer;
        cursor: hand;
    }
    .lobby .main-lobby {
        width: 100%;
        height: 100%;
        background: url(/images/bglobby.png) no-repeat center center;
        position: absolute;
        -webkit-background-size:cover;
        background-size:cover;
    }
    .lobby .chat {
        display: none;
    }

    .lobby .login {
        display: none;
    }

    .lobby .lobby-menu {
        width: 400px;
        margin: 0 auto;
        margin-top: 250px;
    }

    .lobby .lobby-menu-item {
        height: 32px;
        width: 400px;
        margin: 10px 0;
        overflow: hidden;
    }

    .lobby .totem {
        position: absolute;
        top: 1000px;
        width: 500px;
        left: 50%;
        margin-left: -250px;
    }

    .lobby .totem .video {
        width: 500px;
        height: 415px;
        background: grey;
    }
    .lobby .totem .video iframe {
        width: 500px;
        height: 415px;
    }

    .lobby .totem .banner {
        width: 470px;
        height: 470px;
        background: #666;
        margin-left: 15px;
    }
    footer {
        display: none;
    }

    .menu-mobile {
        background: #09719c;
        position: absolute;
        top: 120px;
        right: 0;
        width: 300px;
        display: none;
        z-index: 11000;
    }

    .menu-mobile ul li {
        background: #09719c;
        font-size: 30px;
        display: block;
        margin: 20px 0;
    }
    .menu-mobile ul li a {
        color: #fff;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
    /* STYLES GO HERE */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
    header.main-menu
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    /* STYLES GO HERE */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    /* STYLES GO HERE */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    /* STYLES GO HERE */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
    /* STYLES GO HERE */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
    /* STYLES GO HERE */
}

/* iPhone 5 (portrait &amp; landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
    /* STYLES GO HERE */
}

/* iPhone 5 (landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
    /* STYLES GO HERE */
}

/* iPhone 5 (portrait)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
    /* STYLES GO HERE */
}